#user-display{
    margin: 0 auto;
    display: flex;
    width: 600px;
    border-bottom: 2px solid var(--darkpurple);
}

#user-display-left img {
    width: 75px;
    height: 75px;
    border: 2px solid var(--medpurple);
    box-shadow: 2px 1px 15px var(--medpurple), -1px -1px 2px var(--medpurple);
    border-radius: 40px;
    margin: 50px;
}

#user-display-left {
    display: flex;
    align-items: center;
}

#user-display-right {
    width: 327px;
    margin-top: 38px;
}

#user-display-buttons {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#edit-profile-button{
    margin-top: 15px;
}

#riff-label {
    margin: 20px auto;
    width: fit-content;
    font-weight: 500;
}

#user-bio {
    overflow-wrap: break-word;
    white-space: normal;
    padding-right: 25px;
}



.empty-riff-header {
    text-align: center;
}




/* suggested follow styling */



.unfollow-row {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 18px;
}

/* .follow-row img {

} */

.unfollow-row a {
    width: 145px;
    margin-left: 18px;
}

/* .follow-row form {
    
} */



.feed-unfollow-btn{
    background-color: transparent;
    color: var(--lightslate);
    border: none;
    font-size: 1em;
    transition: 0.3s;
}

.feed-unfollow-btn:hover {
    color: var(--medpurple);
    border: none;
    font-size: 1em;
    text-shadow: var(--medpurple) 1px 0 5px;
}

#user-follows-body p {
    text-align: center;
    padding: 38px;
}

#user-follows-body {
    margin: 0 auto;
    width: 600px;
    padding-bottom: 100px;

}

#user-follows-body {
    /* display: flex;
    justify-content: center; */
    background: linear-gradient(var(--darkestpurple), var(--darkbg));
    border-top: 2px solid var(--darkpurple);
}