.riff-cards {
    width: 600px;
    background-color: var(--darkestpurple);
    margin: 30px auto;
    border: var(--darkpurple) 1px solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-user-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid var(--medpurple);
    box-shadow: 1px 1px 7px var(--darkpurple), -1px -1px 7px var(--darkpurple), 1px -1px 7px var(--darkpurple), -1px 1px 7px var(--darkpurple);
}

.riff-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
}
.riff-header p{
    margin-left: 15px;
}

.card-header-left{
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header-right{
    width: 7%;
}
.car-header-right i {
    margin-right: 15px;
}

.riff-player{
    background-color: var(--darkestslate);
    width: 100%;
    height: 140px;
    border-top: 2px solid var(--darkpurple);
    border-bottom: 2px solid var(--darkpurple);
}

.card-caption, .comment-row-display{
    display:flex;
    margin: 15px;
}
.authorname{
    font-weight: 700;
}
span {
    font-weight: 300;
    margin-left: 15px;
}

.comment-row-display span{
    font-size: 0.9em;
}

.comment-row-display .authorname {
    margin-left: 15px;
}

.comment-display-container{
    background-color: var(--blackpurple);
}

.post-comment-form {
    width: 100%;
    background-color: var(--darkestslate);
    height: 30px;
    display: flex;
    /* align-items: center; */

}

.post-comment-input {
    width: 90%;
    border:none;
    /* border-right: 2px solid  */
}



.post-comment-button {
    background-color: transparent;
    color: var(--lightestslate);
    border-left: solid 2px var(--darkpurple);
    border-top: solid 2px var(--darkpurple);
    width: 10%;
}

.post-comment-button:disabled {
    color: var(--medslate);
    border:none;   
}

.not-current-user, .user-edit-icon {
    width: 24px;
    height: 24px;
}

.user-edit-icon {
    cursor: pointer;
    color: var(--medslate);
    transform: rotate(-90deg);
    /* background-color: var(--darkslate); */
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 18px;
    transition: 0.3s;
    /* box-shadow: 0px 0px 8px var(--lightslate); */
}

.user-edit-icon:hover{
    background-color: var(--darkslate);
    box-shadow: 0px 0px 8px var(--lightslate);
}

.user-edit-icon i{
    /* padding-top: 5px; */
}





/* Edit Modal */
.edit-comment-form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.h3-edit-comment{
    text-align: center;
}

.comment-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0px;
    height: fit-content;
    width: 100%;
    margin:0;
    padding:0;
}

.edit-comment-input{
    margin: 15px;
}
.edit-modal-btn {
    width:100%;
    background-color: transparent;
}

.comment-modal-buttons button{
    color: var(--medslate);
    border:none;
    width: 100%;
    margin:0;
    border-top: 1px solid var(--darkpurple);
    padding:12px;
    font-weight: 500;
}
button.comment-delete{
    color: var(--error);
}







/* Waveform Player */

.waveform-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: transparent;
}
.wave {
    width: 100%;
    height: 90px;
}

.play-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #EFEFEF;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 3px;
}
.play-button button:hover{
    background: rgb(195, 162, 162);
}