#sign-up-form, #login-form {
    width: 350px;
    background-color: var(--darkestpurple);
    margin: 0 auto;
    border: var(--darkpurple) 1px solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hidden-text {
    display: none;
}

#home-guts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

#splash-auth-links {
    background-color: var(--darkestpurple);
    border: var(--medpurple) 1px solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
        width: 350px;
    min-width:350px;
}


#splash-logo img{
    width: 160px;
    min-width:160px;
    height: 100%;
    position: relative;
    margin-right: 50px;
}

#home-description{
    color: var(--medslate);
    text-align: center;
    margin-top: 18px;
}

#home-description h3{
    margin: 0;
    font-weight: 500;
}

.btn-auth-link {
    background-color: var(--medgreen);
    color: var(--lightestgreen);
    padding: 5px;
    border-radius: 2px;
    border: 2px solid var(--darkgreen);
    transition: all 0.3s;
}

.auth-header {
    margin: 8px 24px 8px;
    text-align: center;
}

.auth-submit{
    margin-top: 18px;
}

.auth-page-links{
    margin: 0 auto 18px ;
    text-align: center;
}

.btn-auth-link:hover:not(:disabled) {
    background-color: var(--lightgreen);
    border: 2px solid var(--medgreen);
    box-shadow: 0 0 8px var(--lightgreen);
    color: var(--darkgreen);
}

input {
    background: transparent;
    color: var(--lightestslate);
    
    outline: none;
	border: 0.2px var(--darkslate) solid;
	border-radius: 2px;
	/* box-shadow: 0px 0px 2px var(--medslate); */
}
input:focus {
	outline: none;
    color: var(--lightestslate);
	box-shadow: 1px 1px 3px var(--darkslate), -1px -1px 3px var(--darkslate);
    border: 0.2px var(--darkslate) solid;
}

.auth-fields {
    background: transparent;
    color: var(--lightestslate);
	border-radius: 2px;
	
    width: 270px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 16px;

}

#signup-button {
    margin: 0 auto;
}

.auth-fields:focus {
	outline: none;
    color: var(--lightestslate);
	box-shadow: 2px 2px 6px var(--lightslate);
}
.auth-fields label {
    font-size: 12px;
}

.login-buttons-container{
    margin: 0 auto;
    width: fit-content;
}

.login-buttons-container button {
    margin-left: 20px;
    margin-right: 20px;
}

#home-demo-button {
    width: 200px;
    margin: 0 auto 40px;
}

#splash-logo p{
    font-size:100px;
    color: var(--blackpurple);
}

.home-smaller {
    font-size: 0.8em;
}